.features-container {
  margin-top: 60px;
  //   text-align: center;

  .features-header {
    &::after {
      content: "";
      width: 65px;
      height: 3px;
      top: 10px;
      margin: auto;
      position: relative;
      display: block;
      background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    }
  }

  .features-overview {
    margin: 2.7rem 0;
  }

  .features-icons {
    box-shadow: 0 0 0 0.05em #3cba92 inset !important;
  }

  .features-descriptions {
    margin-top: 1.1em !important;
  }
}
