.toolbar {
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
  margin: 0 !important;
  min-height: 60px !important;
  padding: 0.5rem 0rem;

  &::after {
    display: none !important;
  }

  .nav-container {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .logo {
    width: 14em !important;
  }

  .nav-items {
    display: flex;
    justify-content: space-evenly;

    [aria-current="page"].active {
      color: #ffffff;
    }

    a.nav-item {
      margin: 0 0.8rem;
      line-height: 1;
      flex: 0 0 auto;
      background: 0 0;
      font-weight: 400;
      box-shadow: none;
      border-radius: 0;
      color: whitesmoke;
      user-select: none;
      letter-spacing: 1px;
      text-transform: none;
      position: relative;
      text-decoration: none;
      height: 70% !important;
      padding: 0.5em 0.7em;
      transition: opacity 0.1s ease;
      -webkit-tap-highlight-color: transparent;
    }

    a.nav-item::before,
    a.nav-item::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #ffffff;
      content: "" !important;
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }

    a.nav-item::before {
      top: 0;
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }

    a.nav-item::after {
      bottom: 0;
      -webkit-transform: translateY(15px);
      -moz-transform: translateY(15px);
      transform: translateY(15px);
    }

    a.nav-item:hover,
    a.nav-item:focus {
      color: #ffffff !important;
    }

    a.nav-item:hover::before,
    a.nav-item:hover::after,
    [aria-current="page"].active::before,
    [aria-current="page"].active::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}
